<mk-layout-wrapper>
    <mk-layout-sidebar-left>
    </mk-layout-sidebar-left>
    <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false" [logoLink]="['/', 'boxs', 'info-box']">
      <mk-layout-header-logo><img class="water-logo" src ="./assets/images/UCLA.png"/>UCLA <b>WaTer</b></mk-layout-header-logo>
      <mk-layout-header-logo-mini><img class="water-logo" src ="./assets/images/UCLA.png"/></mk-layout-header-logo-mini>
      <mk-dropdown></mk-dropdown>
    </mk-layout-header>
    <mk-layout-content>
      <router-outlet></router-outlet>
    </mk-layout-content>
  </mk-layout-wrapper>
