<mk-layout-wrapper>
    <mk-layout-sidebar-left>
      Sidebar left HTML (just above menu)
    </mk-layout-sidebar-left>
    <mk-layout-header [isSidebarLeftToggle]="true" [isSidebarRightToggle]="false" [logoLink]="['/', 'boxs', 'info-box']">
      <mk-layout-header-logo><img class="water-logo" src ="../assets/images/UCLA.png"/>UCLA <b>WaTer</b></mk-layout-header-logo>
      <mk-layout-header-logo-mini><img class="water-logo" src ="../assets/images/UCLA.png"/></mk-layout-header-logo-mini>
    </mk-layout-header>
    <mk-layout-content>
      <app-system-select></app-system-select>
      <router-outlet></router-outlet>
    </mk-layout-content>
    <mk-layout-footer>
      <mk-layout-footer-left>
        Footer right HTML
      </mk-layout-footer-left>
    </mk-layout-footer>
  </mk-layout-wrapper>
