<mk-box>
  <div class="status-box">
    <div class="system-status">
      <mk-alert [backgroundColor]="status.backgroundColor" [isDismissible]="false">
          <h4><i [class]="status.icon_class"></i>System Status</h4>
          {{status.text}}
      </mk-alert>
    </div>

    <div class="system-status">
      <mk-alert backgroundColor="danger" [isDismissible]="false">
          <h4><i class="icon fa fa-warning"></i>System Status</h4>
          System is down!
      </mk-alert>
    </div>

    <div class="system-status">
      <mk-alert backgroundColor="success" [isDismissible]="false">
          <h4><i class="icon fa fa-check"></i>System Status</h4>
          System Looks Good!
      </mk-alert>
    </div>
  </div>
</mk-box>

<!--https://www.npmjs.com/package/ng-number-picker-->
<mk-box>
    <div class="schematic-settings">
      Schematic to be entered here
    </div>
    <div class="parameter-toggle">
      Parameter 1 <input type="number" [min]="param1.min" [max]="param1.max" [value]="param1.value">
      <br>
      <br>
      Parameter 2 <input type="number" [min]="param2.min" [max]="param2.max" [value]="param2.value">
      <br>
      <br>
      Paramater 3 <input type="number" [min]="param3.min" [max]="param3.max" [value]="param3.value">
    </div>
</mk-box>